<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Echarts</title>
</head>
<script th:src="${'js/jquery.min.js'}"></script>
<script th:src="${'js/echarts.min.js'}"></script>
<script th:src="${'js/my.js'}"></script>
<body>
	<!-- <button class="button1" value="1">柱状图</button>
	<button class="button1" value="2">折线图</button>
	<button class="button1" value="3">饼图</button> -->
	<h3>部分省份高考文理科历年来的一二本线</h3>&nbsp;<span>折线图</span>
	<button class="button2" value="四川">四川</button>
	<button class="button2" value="贵州">贵州</button>
	<button class="button2" value="重庆">重庆</button>
	<br>
	<br>
	<div id="mydiv" style="width: 600px;height: 400px;"></div> 
</body>
</html>